<div class="timer">
  <ng-container *ngIf="initialSeconds >= 0; else expired">
    <div class="time-segment">
      <div>{{ daysLeft | number : "1.0-0" }}</div>
      <span>Days</span>
    </div>
    <div class="time-segment">
      <div>{{ hoursLeft }}</div>
      <span>Hours</span>
    </div>
    <div class="time-segment">
      <div>{{ minutesLeft }}</div>
      <span>Minutes</span>
    </div>
    <div class="time-segment">
      <div>{{ secondsLeft }}</div>
      <span>Seconds</span>
    </div>
  </ng-container>
  <ng-template #expired>
    <span class="countdown-expired">Deadline reached!</span>
  </ng-template>
</div>
